@font-face {
    font-family: 'HelveticaNeueRoman';
    src: url('/Fonts/hlr____-webfont.eot');
    src: url('/Fonts/hlr____-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlr____-webfont.woff') format('woff'),
         url('/Fonts/hlr____-webfont.ttf') format('truetype'),
         url('/Fonts/hlr____-webfont.svg#HelveticaNeueRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('/Fonts/hlt____-webfont.eot');
    src: url('/Fonts/hlt____-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlt____-webfont.woff') format('woff'),
         url('/Fonts/hlt____-webfont.ttf') format('truetype'),
         url('/Fonts/hlt____-webfont.svg#HelveticaNeueThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueThinItalic';
    src: url('/Fonts/hlti___-webfont.eot');
    src: url('/Fonts/hlti___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlti___-webfont.woff') format('woff'),
         url('/Fonts/hlti___-webfont.ttf') format('truetype'),
         url('/Fonts/hlti___-webfont.svg#HelveticaNeueThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueMediumItalic';
    src: url('/Fonts/hlmi___-webfont.eot');
    src: url('/Fonts/hlmi___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlmi___-webfont.woff') format('woff'),
         url('/Fonts/hlmi___-webfont.ttf') format('truetype'),
         url('/Fonts/hlmi___-webfont.svg#HelveticaNeueMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLightItalic';
    src: url('/Fonts/hlli___-webfont.eot');
    src: url('/Fonts/hlli___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlli___-webfont.woff') format('woff'),
         url('/Fonts/hlli___-webfont.ttf') format('truetype'),
         url('/Fonts/hlli___-webfont.svg#HelveticaNeueLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('/Fonts/hlm____-webfont.eot');
    src: url('/Fonts/hlm____-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlm____-webfont.woff') format('woff'),
         url('/Fonts/hlm____-webfont.ttf') format('truetype'),
         url('/Fonts/hlm____-webfont.svg#HelveticaNeueMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueHeavyItalic';
    src: url('/Fonts/hlhi___-webfont.eot');
    src: url('/Fonts/hlhi___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlhi___-webfont.woff') format('woff'),
         url('/Fonts/hlhi___-webfont.ttf') format('truetype'),
         url('/Fonts/hlhi___-webfont.svg#HelveticaNeueHeavyItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueItalic';
    src: url('/Fonts/hli____-webfont.eot');
    src: url('/Fonts/hli____-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hli____-webfont.woff') format('woff'),
         url('/Fonts/hli____-webfont.ttf') format('truetype'),
         url('/Fonts/hli____-webfont.svg#HelveticaNeueItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('/Fonts/hll____-webfont.eot');
    src: url('/Fonts/hll____-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hll____-webfont.woff') format('woff'),
         url('/Fonts/hll____-webfont.ttf') format('truetype'),
         url('/Fonts/hll____-webfont.svg#HelveticaNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('/Fonts/hlb____-webfont.eot');
    src: url('/Fonts/hlb____-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlb____-webfont.woff') format('woff'),
         url('/Fonts/hlb____-webfont.ttf') format('truetype'),
         url('/Fonts/hlb____-webfont.svg#HelveticaNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueBoldItalic';
    src: url('/Fonts/hlbi___-webfont.eot');
    src: url('/Fonts/hlbi___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlbi___-webfont.woff') format('woff'),
         url('/Fonts/hlbi___-webfont.ttf') format('truetype'),
         url('/Fonts/hlbi___-webfont.svg#HelveticaNeueBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueHeavy';
    src: url('/Fonts/hlh____-webfont.eot');
    src: url('/Fonts/hlh____-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/hlh____-webfont.woff') format('woff'),
         url('/Fonts/hlh____-webfont.ttf') format('truetype'),
         url('/Fonts/hlh____-webfont.svg#HelveticaNeueHeavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
