<?xml version="1.0" encoding="utf-8"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=152368".
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UserContentBasePath" value="UserContent"/>
	<add key="ImageBasePath" value="Images"/>
	<add key="FontsPath" value="Fonts"/>
  </appSettings>

		  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

	<httpHandlers>
		<add verb="*" path="ButtonImageHandler.ashx" validate="false" type="LHFS.ButtonImageHandler"/>
		<add verb="*" path="TextImageHandler.ashx" validate="false" type="LHFS.TextImageHandler"/>
	</httpHandlers>

	  <authentication mode="Forms">
		<forms loginUrl="/" timeout="2880" />
	</authentication>
	<membership defaultProvider="LHFSMembershipProvider">
		<providers>
			<clear />
			<add name="LHFSMembershipProvider" 
				type="LHFS.Models.Security.LHFSMembershipProvider" 
				enablePasswordRetrieval="false" 
				enablePasswordReset="true" 
				requiresQuestionAndAnswer="false" 
				requiresUniqueEmail="true" 
				maxInvalidPasswordAttempts="5" 
				minRequiredPasswordLength="5" 
				minRequiredNonalphanumericCharacters="0"
				passwordAttemptWindow="10" 
				applicationName="/" />
		</providers>
	</membership>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
		<add namespace="LHFS.Controllers"/>
		<add namespace="LHFS.Helpers"/> 
	  </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
